.container-fluid{
    background-color: black;
}
.name{
	text-align: center;
    padding: 3px;
    margin-bottom: 10px;
    color: aquamarine;
}
.navbar-brand{
    font-style: italic;
    text-emphasis: 10px;
    color: aliceblue;
    font-size: 25px;
}
.row{

    position: relative;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.button{

     background-color: coral;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 20px;
}
