*{
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
}
body, html {
    height: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 20px;
}
.container-fluid{
    background-color: black;
}
.name{
	text-align: center;
    padding: 3px;
    margin-bottom: 10px;
    color: aquamarine;
}
.navbar-brand{
    font-style: italic;
    text-emphasis: 10px;
    color: aliceblue;
    font-size: 25px;
}
.row{

    position: relative;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: coral;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 20px;
    outline: none;
    transition: all 0.5s ease-in-out;
}
.button:hover{
    background-color: rgb(255, 196, 0);
    transition: all 0.5s ease-in-out;
}
img{
    height: 100%;
    width: 100%;
}
.img{
    height: 500px;
    width: 400px;
}
nav{

    width: 100%;
    z-index: 99;
    height: 50px;
    background-color: rgb(6, 8, 146);
}

.sect {
    height: 70%;
    background-attachment: fixed;
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
}

.sub {
    height: 30%;
    background-color: orange;
}
.sectone{
    background-image: url("../images/bg_1.jpg");
}
.subone{
    height: 30%;
    background-color: orange;
}
.subtwo{
    height: 100%;
    background-color: azure;
}
.subthree{
    height: 130%;
    background-color: azure;
}
.secttwo{
     height: 70%;
     background-image: url("../images/bg_1.jpg");
    }

.subfour {
    height: 150%;
    background-color: azure;
}
.subfive {
    height: 100%;
    background-color: rgba(0,0,0,0.1);
}